/* pippo2 */

.gHeader
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #2D32AA
}
.tbToolbarBodySelected
{
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    BACKGROUND-COLOR: #2D32AA
}
.gContentSection
{
    FONT-SIZE: 13px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #fff;
}
.objectHeader	{
	color: #ffffff;
	font: bold x-small Arial, Helvetica, sans-serif ;
	FONT-SIZE: 10px;
	text-decoration: none;
	padding: 5px 0px 0px 5px;
}
.objectHeaderBg {
	background-color:#999966;
	padding-top : 5px;
}

.dirText		{
background-color: #2D32AA;
color: #ffffff;
	font: bold x-small verdana,arial,helvetica;
	padding-top : 5px;}
	
	.listSortHeaderBg		{background-color:#cccc99;padding-top : 5px;}
	.actionbarObjectBg		{background-color: #EBEBD7;}
	.listItemOneBg		{background-color: #F3F3E1;}
	
/******************************************************************************************/
/*                    ANDREA D'AQUINO                 */
/*      nuove regole GENERALI aggiunte per la conformita W3C/WAI dei gadget     */
/******************************************************************************************/

body {font: 12px Arial, Helvetica, sans-serif;text-align:center; margin:0; padding:0;}
*, html, h1, h2, h3, h4, p, a, table, tr, th, td, ul, li, select, form, div {
	font-size: 12px;
}
div {text-align: left; font-size: 11px;}
h1, h2, h3, h4, h5, h6, p {margin-bottom:1em;}
b, strong, th {font-weight: bold !important;}
em {font-style:italic;}
a {text-decoration:none; /*color:#2D32AA;*/ color:#000000; font-weight:bold; font-size:12px;}
a:hover {/*color:#999966*/ color: #2D32AA;}
label,caption {display: none;}
th {font-weight:bold;}
a img, img {border:none#cccc99}
p.filetto {/* da usare come divisorio */}
/*************** banner Aziende ***************/
#HeaderICON{/*background:url(https://portal.cartasi.it/imageserver/banche/images/linea_banner_iconcard.jpg) repeat-x left top;height:105px;width:100%;margin:0;*/ background-image: none; background-color: #f0f0f0;height:74px;width:100%;margin:0;}
#HeaderICON a img{border:none}
#HeaderBAN{/*background:url(https://portal.cartasi.it/imageserver/banche/images/linea_banner.jpg) repeat-x left top*/
background-image: none; background-color: #f0f0f0;height:74px;width:100%;margin:0;}
#HeaderBAN a img{border:none}
#banner{background:url(https://portal.cartasi.it/imageserver/banche/images/PTlogo1.jpg) no-repeat;height:74px;width:840px}
#fascetta{
	color: black;
    background-color: #f0f0f0;
	font-size: 12;
}
#fascetta2{
	color: black;
    background-color: #f0f0f0;
	font-size: 12;
}

#menuTop{color:#fff;text-align:left;background:#999966}
#navcontainer{
	margin: 0;
	height: 20px;
	/*background-color: #cccc99;*/
	background-color: #C9CAC8;
	padding: 0 0 0 206;
} /* div wrapper x la navigazione top sotto il banner */
#navcontainer ul{margin:0;padding:0 0 20px 0;list-style-type:none;text-align:center}
#navcontainer ul li{display:block;float:left;text-align:center;font-size:12px;color:#fff;border-left: 1px ridge;}
#navcontainer ul li a{/*background-color:#cccc99*/ background-color: #C9CAC8; width:123px;height:20px;padding:0;margin:0;color:#fff;text-decoration:none;display:block;text-align:center;font:normal 10px/18px verdana,sans-serif;}
#navcontainer ul li a:hover{background:#646464}
#navcontainer a:active{background:#646464}
#navcontainer1{
	margin: 0;
	height: 20px;
	/*background-color: #cccc99;*/
	background-color: #b3b3b3;
	padding: 0 0 0 206;
} /* div wrapper x la navigazione top sotto il banner */
#navcontainer1 ul{margin:0;padding:0 0 20px 0;list-style-type:none;text-align:center}
#navcontainer1 ul li{display:block;float:left;text-align:center;font-size:12px;color:#fff;border-left: 1px ridge;}
#navcontainer1 ul li a{/*background-color:#cccc99*/background-color: #b3b3b3;width:123px;height:20px;padding:0;margin:0;color:#fff;text-decoration:none;display:block;text-align:center;font:normal 12px/18px verdana,sans-serif}
#navcontainer1 ul li a:hover{color:#fff;background:#646464}
#navcontainer1 a:active{color:#fff;background:#646464}
#navcontainer2{
	margin: 0;
	height: 20px;
	background-color: #d3d3d3;
	padding: 0 0 0 206;
} /* div wrapper x la navigazione top sotto il banner */
#navcontainer2 ul{margin:0;padding:0 0 20px 0;list-style-type:none;text-align:center}
#navcontainer2 ul li{
	display: block;
	float: left;
	text-align: center;
	font-size: 12px;
	color: #fff;
	border-left: 1px ridge;
}
#navcontainer2 ul li a{background-color:#d3d3d3;width:123px;height:20px;padding:0;margin:0;color:#fff;text-decoration:none;display:block;text-align:center;font:normal 10px/18px verdana,sans-serif}
#navcontainer2 ul li a:hover{color:#fff;background:#F4F4E6}
#navcontainer2 a:active{color:#fff;background:#F4F4E6}
li p.dataOra{width:180px;background:#999966;padding:4px;margin:0}

/************** allineamenti *****************/
.alignLeft {text-align:left}
.alignCenter {text-align:left}
.alignJustify {text-align:justify}
.alignRight {text-align:right;}
.valignTop {vertical-align:top;}
.valignMiddle {vertical-align:middle}
.valignBottom {vertical-align:bottom}

/************** dimensioni ***************/
.width100 {width: 98%;}
.width20 {width: 20%;}
.width30 {width: 30%;}


label, caption {display:none;}
a img {}
ul {list-style-type:circle;}
.floatLeft {float:left;margin:0;padding:0;}
.floatLeft img {float:left;padding:0;margin:0 .8em 0 0 ;}
.floatRight {float:right;margin:0;padding:0;}
.floatRight.Image {float:right;margin-top:-1em;padding:0;}
.center {margin:0 auto;text-align:center;position:relative;}
div.center {margin:0 auto;text-align:left;position:relative;}
.clr {clear:both;margin-bottom:2em;}








/* testo */
table {}
p, li, td, th {font-size:12px;}
td, th {vertical-align:top;}
p {margin:1em 0 1em 0;}
h3.titoloGadgetHP {font-size:12px;margin:0 0 1em 0;}
h3.titoloInternoGadget {font-weight:bold;font-size:16px;margin-top:1.3em;}
h4.titoloInternoGadget {margin:1em;font-weight:bold;font-size:12px;}
h3.linkFunzione {font-size:12px;margin-top:0;padding:0;}
ul.listaAvvertenze{}
ul.listaAvvertenze li{}
ul.listaNormale li{margin:0;padding:0;}
div.gadgetHP p.testoNormale span.importo {float:right;margin-top:-1em;}
.azzurrino {text-align:center;}
.grassetto {font-weight:bold;}
.importo {text-align:right;}
.centrato {text-align:center;}
.msgErrori {}

/*************** testo ***************/
h1.titoloInternoGadget,
h2.titoloInternoGadget,
h3.titoloInternoGadget,
h3.titoloGadget,
h4.titoloInternoGadget,
h3.titoloGadgetHP,
p.didaGadget,
.consMov_Riep th.subFolderColorIntesta,
p.subFolderColorIntesta,
.titoloRiga{
	font-weight:bold;
	color: #003366;
}
p.didaGadget {padding:0; margin:0;}
h1.titoloInternoGadget{font-size:16px;}
h2.titoloInternoGadget{font-size:14px;}
p.subFolderColorIntesta,
h3.titoloInternoGadget,
h3.titoloGadget {font-size:12px;}
h3.titoloGadgetHP{font-size:12px;color:#000;}
h4.titoloInternoGadget {font-size:10px;}
p.didaGadget{font-weight:normal;font-size:12px;color:#000;}
.titoloRiga{font-size:12px; padding: 12px 0;color:#000;}

h3.titoloGadget.subFolderColorIntesta,
h3.titoloInternoGadget,
h3.titoloInternoGadget.gHeaderSection {
	font-size:12px;
	font-weight:bold;
	color: #003366;
}
.subFolderColorIntesta,
.gContentSection,
.testoNormale,
.TestoNormale,
.Bold,
.Centrato,
.CentratoBold,
.Giust,
.GiustBold{font-size:12px;color:#000; font-weight:normal; text-align:left;}
.CentratoBold,
.grassettoCentrato,
.Centrato{text-align:left}
.Giust {text-align:justify}
.Right {text-align:right}
.GiustBold,
.CentratoBold,
.grassettoCentrato,
.Bold,
.TestoGrassetto{font-weight:bold}
.gNewItem{font-weight:bold;font-size:13px;color:#ff0000;}
.rosso {color:#ff0000;}
.bianco {color:#fff;}

/*************** liste e navigazione ***************/
ul.listaNoMarks li{list-style-type:none;}
ul.listaOrizzontale {margin:2em auto 1em auto; text-align:center;}
ul.listaOrizzontaleLeft {margin:2em auto 1em auto; text-align:left;}
ul.listaOrizzontaleRight {margin:2em auto 1em auto; text-align:right;}
ul.listaOrizzontaleLeft li,
ul.listaOrizzontaleRight li,
ul.listaOrizzontale li {display:inline;list-style-type:none; padding:0 10px;}
ul.listaVerticale {text-align:left; margin:0; padding:0;}
ul.listaVerticale li {list-style-type:none; padding:3px 0 3px 2px; margin:0;}
a.frecciaBack,
a.frecciaBack:link,
a.frecciaBack:visited,
a.frecciaBack:active {
	background:url(https://portal.cartasi.it/imageserver/banche/images/freccia_scura.gif) no-repeat left center;
	margin: 0;padding:4px 0; padding-left:12px;}

a.frecciaBack:hover{
	background:url(https://portal.cartasi.it/imageserver/banche/images/freccia_chiara.gif) no-repeat left center
}
a.frecciaBackOff{margin: 0;	padding-left:12px;background:url(https://portal.cartasi.it/imageserver/banche/images/freccia_chiara.gif) no-repeat left center;color:#996666;}
.linkNormale {font-size:10px; font-weight:normal; color:#663333; text-decoration:underline;}
.linkNormale:hover {}
a.linkFunzione {text-decoration:none;}
.intestazione {}
p.linkHome {}

/************** tabelle e div **********************/
div.customappText {padding:0; margin:0;} /* queste dichiarazioni influenzano il padding all'interno dei gadget in HP*/
.customappText p,
.customappText div,
.customappText table,
.customappText td {text-align:left; padding:4px 2px 2px 4px;}
.customappText select {margin:4px 0;}
.customappText p select {margin: 2px auto 0 -4px;padding:0;}
.customappText a.frecciaBack {margin-top: 4px;}
.customappText td.gButtonEnabled a.frecciaBack {margin-top: 44px;}
div.portalContent td {} /****** OKKIO - NON MODIFICARE!!!!!!!! *************/
div.customappText div.gadgetHP form select.gContentSection {margin:4px;}
div.customappText div.gadgetHP form div p select {margin: 2px auto 0 -4px;padding:0;}
div.customappText div.gadgetHP select {margin: 2px;padding:0;}
div.customappText div.gadgetHP p,
div.customappText div.gadgetHP form,
div.customappText div.gadgetHP p.didaGadget {margin: 0;}
div.customappText td.gButtonSection a {margin: 0 0 0 -8px;}

td.platportletHeaderBg .customappText .portletTitle,
td.platportletHeaderBg .customappText .portletButtons{background-color:#666; margin:0; padding:0;}
.portletBody .gadgetHP p.linkNormale a.frecciaBack {text-decoration:none !important;}
.portletTitle {
	padding: 2px;
}
.paginaErrore{}
.paginaErrore p{}
table.bordoNero {border: 1px solid #333;margin: 12px 0 0 0;}
.portletBase{margin-bottom:10px; padding:0;}
a.gPunto img {padding-right: 8px;	padding-top:2px;}
.portletBody {
	border: 1px solid #C9CAC8;
	border-top:none;
	margin:0;
	padding:0;
}
.portletCollapseButton, .portletButtons {display:none}
div.portalContent table.portletBase {padding:0;}
div#bottomNav{text-align:left} /* container per la navigazione a fondo pagina */
div.gContentSection{padding:2px 0;margin:2px}
.corpoGadgetInterno{padding:2px 4px}
.boxNormale {}
.boxCentrato{text-align:left}
.customappText div.boxLeft{text-align:left; margin:0; padding:0;}
.boxRight{text-align:right}
.boxCentroPagina {text-align:left;} 
.boxCentroPaginaInterno {text-align:left;}	


/************************* AMMINISTRAZIONE UTENTI / AMMINISTRAZIONE UTENZE ************/
.gContentSectionAdmin A:hover { FONT-WEIGHT:bold; COLOR:#003366 }
.gContentSectionAdmin A {FONT-WEIGHT:bold; FONT-SIZE:10px; COLOR:#003366; FONT-FAMILY:Arial, Helvetica, sans-serif ; TEXT-DECORATION:none }
.gContentSectionAdmin TD {FONT-SIZE:10px; COLOR:#ffffff; FONT-FAMILY:Arial, Helvetica, sans-serif ; TEXT-DECORATION:none}
.admToolbar { FONT-SIZE:10px; COLOR:#6699cc; FONT-FAMILY:Arial, Helvetica, sans-serif ; BACKGROUND-COLOR:#ffffff}
.admToolbargray { FONT-SIZE: 10px; COLOR:#444444; FONT-FAMILY: Arial, Helvetica, sans-serif ; BACKGROUND-COLOR: #ffffff}
.admToolbargray A { FONT-SIZE:10px; COLOR:#CCCCCC; FONT-FAMILY:Arial, Helvetica, sans-serif ; BACKGROUND-COLOR: #ffffff}
.admToolbarblu { FONT-SIZE:10px; COLOR:#003366; FONT-FAMILY:Arial, Helvetica, sans-serif  BACKGROUND-COLOR:#ffffff }


/************************* AVVIO RICERCA ************/

.PageBODY {background-color: #ffffff}
.FormTABLE {border: 1 solid #D9D9D9}
.FormHeaderTD {}
th.FormHeaderTD {font-size: 12px; text-align:center;}
.FormHeaderTD div {text-align: center;}
.FormHeaderFONT {font-family: Arial, Helvetica, sans-serif ; font-size: 10px; color: #ffffff; font-weight: bold}
.FieldCaptionTD {background-color: #DADADA;}
.FieldCaptionFONT {font-family: Arial, Helvetica, sans-serif ; font-size: 11px; color: #000000;}
.DataTD {background-color: #ffffff; background-color: #ffffff; border-bottom: 1 solid #D8D8D8}
.RecordSeparatorTD {}
.DataFONT {font-family: Arial, Helvetica, sans-serif ; font-size: 9px; color: #000000;}
.ColumnFONT {font-family: Arial, Helvetica, sans-serif ; font-size: 10px; color: #ffffff;}
.ColumnTD {}
.columnTD A:hover {background-color: #003366;}
.dataTD A:hover {color:#000000}
table h3 {font-size: 12px;}

/* sportello clienti */
.sportello {width: 70%; text-align:center; border:1px solid blue; margin:0 auto; text-align:left;}
.sportello table.NomeCogEmail {width: 75%; table-layout:fixed;}
.sportello table.NomeCogEmail th {text-align:left; font-weight:normal; width:25%;}
.sportello table.NomeCogEmail {text-align:left; font-weight:normal;}


/* archivio carte */
table.anaBanca td.testata,
table.anaPos td.testata {color: #fff; font-size:11px;font-weight: normal; background:#31659C;}
table.anaBanca td.dati,
table.anaPos td.dati {font-size:11px;font-weight: normal; background:#C0C0C0;}
table.posizione td.testata {color: #fff; font-size:11px;font-weight: normal; background:#639ACE;}
table.posizione td.dati {font-size:11px;font-weight: normal; background:#C0C0C0;}

.trDatiChiara {color:#000; font-size: 11px; font-weight: normal; background:#fff;}
.trDatiScura {color:#000; font-size: 11px; font-weight: normal; background:#e7e7e7;}

/*benvenuto*/
div.benvenuto { text-align:left; padding:1em;}

/* ammUteAzi */
div.ammUteAzi { text-align:left; padding:1em;}


/* Abilitazione servizi*/
.ddDropDownMenuBackground
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #2D32AA
}


.tbTab
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10px;
    BORDER-LEFT: medium none;
    COLOR: #333300;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #cccc99;
    TEXT-DECORATION: none
}

.tbToolbarBody
{
    FONT-SIZE: 10px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #999966
}

.wizHead
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #cccc99
}

.gNarrowContentSection A
{
    FONT-SIZE: 10px;
    COLOR: #333300;
    TEXT-DECORATION: none
}

.gNarrowContentSection A:hover
{
    FONT-SIZE: 10px;
    COLOR: #999966;
    TEXT-DECORATION: none
}

.gNarrowAdminGadget
{
    FONT-SIZE: 10px;
    MARGIN: 0px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
}

.gNarrowAdminGadget A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #333300;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
}

.gNarrowAdminGadget A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #999966;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}


.tbTabSelected
{
    FONT-SIZE: 10px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #2D32AA;
    TEXT-DECORATION: none
}

.gContentSectionGray
{
    FONT-SIZE: 12px;
    MARGIN: 0px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: white;
    TEXT-DECORATION: none;
	padding: 4px 0;
	padding-left: 12px;
}
.gContentSectionGray A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    TEXT-DECORATION: none;
	padding: 4px 0;
	padding-left: 12px;
}
.gContentSectionGray TD A
{
	 padding-left: 24px!important;
}

.gContentSectionGray A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif 
}

.portletExpandButton{display:none}

tr.odd
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #F0F0F0;
}
tr.even
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #C8C8C8;
}

tr.header
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: #bfbf80;
}

th.sorted a, th.sortable a {

	background-position: left;
	background-repeat:no-repeat;
	display: block;
	width: 100%;
	color: #ffffff;

}

th.sortable a:hover {

	background-position: left;
	background-repeat:no-repeat;
	display: block;
	width: 100%;
	color: #ffffff;

}

th.sorted a:hover {

	background-position: left;
	background-repeat:no-repeat;
	display: block;
	width: 100%;
	color: #ffffff;

}

thead tr {

  background-color: #2D32AA;

}
#logoLeft{
	float: left;
	margin-left: 100px;
}

#logoRight{
	float: right;
	margin-right: 100px;
}

.platportletHeaderBg {
  background-color: #2D32AA!important;
}
/*
table.bnrDate td:first-child{
  display: none;
}
*/
table.bnrDate {
	width: 100%;
	padding-right: 20px;
	background-color: #f0f0f0;
}

img.noBorderImg:hover , img.noBorderImg:active{
	background:url(https://portal.cartasi.it/imageserver/banche/images/freccia_chiara.gif) no-repeat left center
}

/*gContentSectionGray*/
.gContentSection td a img, .gContentSection a img,
.customappText td a img, .customappText a img,    
.elenco4 img[name=img1] {
  visibility: hidden;
}

.gContentSection td a, .gContentSection td a:link, .gContentSection td a:visited,
.gContentSection a, .gContentSection a:link, .gContentSection a:visited,
.gContentSectionGray a, .gContentSectionGray a:link, .gContentSectionGray a:visited,
.elenco4 a, .elenco4 a:link, .elenco4 a:visited,
.customappText td a, .customappText td a:link, .customappText td a:visited,
.customappText a, .customappText a:link, .customappText a:visited  {
  background: url(https://portal.cartasi.it/imageserver/banche/images/freccia_scura.gif) no-repeat left center;
  margin: 0;
  padding: 4px 0;
  padding-left: 12px;
}

.gContentSection td a:hover, .gContentSection td a:active,
.gContentSection a:hover, .gContentSection a:active,
.gContentSectionGray a:hover, .gContentSectionGray a:active,
.elenco4 a:hover, .elenco4 a:active,
.customappText td a:hover, .customappText td a:active,
.customappText a:hover, .customappText a:active{
	background:url(https://portal.cartasi.it/imageserver/banche/images/freccia_chiara.gif) no-repeat left center;
}

/*
div#HeaderBAN img {
  visibility: hidden;
}

div#HeaderBAN:before {
  content: url(https://portal.cartasi.it/imageserver/banche/images/ptlogo1.jpg);
  background: url(https://portal.cartasi.it/imageserver/banche/images/ptlogo2.jpg) no-repeat 100% 0;
  display: block;
  font-size: 0;
  top: -15px;
  position: relative;
  background-position-y: 10px;
}
*/

.img-logo-left{
	width: 176px;
	height: 100%;
	background: url(https://portal.cartasi.it/imageserver/banche/images/ptlogo1.jpg);
	background-position: 0,0;
	background-position-y: -15px;
	float: left;
}

.img-logo-right{
	width: 176px;
	height: 100%;
	background: url(https://portal.cartasi.it/imageserver/banche/images/ptlogo2.jpg);
	background-position: 0,0;
	background-position-y: -10px;
	float: right;
}

.gContentSectionGray td img, .customappText img , .gSubHeader img{
  display: none;
}

 .popup-logo {
 	display: block!important;
 }

a.gContentSection {
  font-weight: bold;
}
span.platportletNarrowHeader, span.platportletWideHeader {
  font-weight: bold;
  padding-left: 7px;
}
.portalContent>br {
  display: none;
}

ul#navlist li:last-child {
  border-right: 1px solid;
}

td.portletBody div.customappText p.gContentSection {
  padding-left: 10px;
}
#pt-portlet-436 ul
{  margin-left: 135px;
  
  line-height: 20px;
}
/*
#pt-portlet-content-347{
  background: url(https://portal.cartasi.it/imageserver/banche/images/Lampadina_ARA.jpg) no-repeat;
  background-size: 76px 97px;
  background-position: 10px 10px;
  
}

.homepageWelcomeContent{
  margin-left: 100px;
}*/

.FormHeaderTD, .FieldCaptionTD, .TotaliVenditeFormHeaderTD,
.ColumnTD , .TotaliVenditeColumnTD, .TotaliMensiliFormHeaderTD,
.TotaliMensiliColumnTD, .RimborsiFormHeaderTD, .RimborsiColumnTD , 
.objectHeaderBg {
  background-color: #2D32AA!important;
  color: #ffffff;
}

div#pt-portlet-content-348 img {
  display: inline;
}

.homepageWelcomeContent ul {
  margin-left: 100px; 
}

.lampadinaDiv {
	background: url(https://portal.cartasi.it/imageserver/banche/images/Lampadina_ARA.jpg) no-repeat;
	width: 76px; 
	height: 97px;
	float: left;
}

/* 
	FIX AREA ADMIN	
*/

.adminTable a {
  background: none!important;
}

.adminTable img {
  visibility: visible!important;
  display: initial!important;
}

.visibile{
  visibility: visible!important;
  display: initial!important;
}


.elenco3:visited, .elenco3:hover, .elenco4:visited, .elenco4:hover {
	COLOR: #2D32AA!important;
}

.freccetta{
	display: block;
}
