* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*
overwrite portale banche css
*/
#mainSection a,
#mainSection a:link,
#mainSection a:active,
#mainSection a:hover,
#mainSection a:visited {
  background: none;
  margin: 0;
  padding: 0;
  color: #0000ff;
  font-weight: normal;
  text-decoration: underline;
}

#mainSection a img {
  visibility: visible;
}

#mainSection p {
  margin: 0;
  padding: 0;
}

#rightColumn p {
  margin: 0;
}

.column {
  float: left;
  padding: 10px;
}

.columnTight {
  width: 20%;
}

.columnWide {
  width: 75%;
}

#rightColumn {
  width: 218px;
  display: inline-block;
}

#gadgetHeader {
  height: 100px;
  font-size: 18px;
  line-height: 100px;
}

.boxTitle {
  height: 40px;
  background: #2d32aa left top no-repeat;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

.boxBody {
  background: #efefef left top no-repeat;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

/*
sidebar menu
*/
#gadgetSidebar {
  width: 25%;
}

/*
stepbar
*/
#gadgetStepbar {
  background: transparent url(../images/stepbar.gif) no-repeat;
  height: 43px;
}

#gadgetStepbar ul {
  padding: 0px;
  list-style: none;
}

#gadgetStepbar .stepGeneric {
  height: 43px;
  display: block;
  float: left;
}

#gadgetStepbar .stepLabelNumber {
  font-size: 18px;
  line-height: 41px;
  font-weight: bold;
  padding-left: 20px;
}

#gadgetStepbar .stepLabelText {
  font-size: 13px;
  line-height: 41px;
  font-weight: bold;
  padding-left: 10px;
}

#gadgetStepbar .stepNumber1 {
  width: 248px;
  margin-right: 3px;
}

#gadgetStepbar .stepNumber2 {
  width: 225px;
  margin-right: 3px;
}

#gadgetStepbar .stepNumber3 {
  width: 229px;
  margin-right: 3px;
}

#gadgetStepbar .stepNumber4 {
  width: 219px;
  margin-right: 0px;
}

#gadgetStepbar .stepActive {
  color: white;
  background-color: #2c2cad;
}

#gadgetStepbar .stepDisabled {
  color: black;
  background-color: #e1e1e1;
}

#gadgetStepbar .stepDone {
  color: #333333;
  background-color: #646464;
}

#gadgetStepbar .stepArrow {
  width: 18px;
  height: 43px;
  display: block;
  float: right;
}

#gadgetStepbar li .stepArrowActive {
  background: transparent url(../images/stepbar_arrow_active.png) no-repeat;
}

#gadgetStepbar li .stepArrowDisabled {
  background: transparent url(../images/stepbar_arrow_disabled.png) no-repeat;
}

#gadgetStepbar li .stepArrowDone {
  background: transparent url(../images/stepbar_arrow_done.png) no-repeat;
}

/*
sezione principale
*/
.sectionMargins {
  margin-left: 100px;
  margin-right: 50px;
}

#mainSection {
  margin-top: 60px;
  width: 710px;
  display: inline-block;
}

#mainSection .sectionTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 17px;
}

#mainSection .formInformativaSectionTitle {
  font-size: 13px;
  font-weight: bold;
  margin-top: 17px;
}

#mainSection .subSectionBottom {
  margin-top: 2px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #2d32aa;
}

.subSectionDivider {
  margin-top: 2px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

#mainSection .sectionInformativa {
  margin-left: 100px;
}

#mainSection .sectionInformativa input {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

#mainSection .sectionInformativa label {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
  padding-left: 10px;
}

#formRiepilogo {
  margin-left: 0;
  margin-right: 50px;
}

#mainSection .sectionNavigate {
  height: 28px;
}

#mainSection .formSectionTitle {
  font-weight: bold;
  font-size: 16px;
}

#mainSection .formMandatoryField {
  color: #c80000;
}

#mainSection .formSectionColumn {
  display: inline-block;
}

#mainSection .formSectionColumn.floating {
  display: block;
  float: left;
}

#mainSection .formSectionColumn label {
  display: block;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 13px;
}

#mainSection .formSectionColumn input[type='checkbox'] {
  vertical-align: middle;
}

#mainSection .formSectionColumn input[type='checkbox'] + label {
  vertical-align: middle;
  display: inline;
  padding-left: 10px;
  font-weight: normal;
  font-size: 12px;
}

#mainSection .formSectionColumn label.floating {
  display: block;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
  font-size: 13px;
  float: left;
}

#mainSection .formSectionColumn input[type='text'] {
  height: 25px;
  border: 1px solid #dadada;
  padding: 0;
}

#mainSection .formSectionColumn input[type='radio'] {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

#mainSection .formSectionColumn select {
  height: 25px;
  border: 1px solid #dadada;
  padding: 0;
}

#mainSection .formSectionColumn input[type='radio'] + span {
  vertical-align: middle;
  padding-left: 10px;
  margin-right: 30px;
}

#mainSection .formFieldVerticalSeparator {
  display: block;
  margin: 15px 0px 0px 0px;
}

#mainSection .formSectionVerticalSeparator {
  display: block;
  margin: 40px 0px 0px 0px;
}

#formRiepilogo .riepilogoSectionTitle {
  height: 40px;
  background: #2d32aa left top no-repeat;
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

#formRiepilogo .riepilogoSectionBody {
  background: #efefef left top no-repeat;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 10px 0 10px 10px;
}

#formRiepilogo .formSectionColumn input[type='text'] {
  border: 0;
  padding: 0;
  background: #efefef left top no-repeat;
}

#formRiepilogo .formSectionColumn label {
  height: 25px;
  padding: 0;
  font-size: 12px;
}

#formRiepilogo .riepilogoSectionBody p {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  clear: right;
}

#formConsensoDatiPersonali input[type='checkbox'] {
  vertical-align: middle;
}

#formConsensoDatiPersonali label {
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 12px;
}

#formFinalizzazione {
  margin-left: 100px;
  margin-right: 50px;
}

/*
liste
*/
ul.squareList {
  list-style: square;
  margin: 0px 0px 10px 15px;
  padding: 0;
}

ul.whiteArrowList {
  list-style: none;
  margin: 0px 0px 0px 15px;
  padding: 0;
  list-style-image: url(../images/list_whitearrow.png);
}

ul.whiteArrowList li a,
ul.whiteArrowList li a:link,
ul.whiteArrowList li a:active,
ul.whiteArrowList li a:hover,
ul.whiteArrowList li a:visited {
  background: none;
  margin: 0;
  padding: 6px 0px 6px 0px;
  display: block;
  font-weight: normal;
  text-decoration: none;
}

ul.errorList {
  list-style: disc;
  margin: 20px 0px 20px 15px;
  padding: 0;
  color: #c80000;
  font-weight: bold;
}

/*
validazione
*/
.fieldError {
  color: #c80000;
  font-weight: bold;
}

.fieldInputValidated {
  color: #059045;
  background: #ecffec;
  font-weight: bold;
}

.fieldInputError {
  color: #c80000;
  background: #fff2f2;
  font-weight: bold;
}

.fieldRiepilogo {
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  color: #a0a0a0;
  font-weight: normal;
  word-break: break-all;
}

/*
*/
.bdisabled {
  background: #aaa;
}

/*
margini
*/
.mtop20 { margin-top: 20px; }
.mtop60 { margin-top: 60px; }
.mright10 { margin-right: 10px; }
.mbottom20 { margin-bottom: 20px; }
.mleft100 { margin-left: 100px; }
.mauto { margin: auto; }

/*
dimensioni
*/
.width5 { width: 5%; }
.width7 { width: 7%; }
.width10 { width: 10%; }
.width15 { width: 15%; }
.width18 { width: 18%; }
.width20 { width: 20%; }
.width22 { width: 22%; }
.width25 { width: 25%; }
.width30 { width: 30%; }
.width33 { width: 33%; }
.width38 { width: 38%; }
.width40 { width: 40%; }
.width50 { width: 50%; }
.width60 { width: 60%; }
.width70 { width: 70%; }
.width75 { width: 75%; }
.width80 { width: 80%; }
.width90 { width: 90%; }
.width95 { width: 95%; }
.width98 { width: 98%; }
.width100 { width: 100%; }

.field10 { width: 10px; }
.field20 { width: 20px; }
.field30 { width: 30px; }
.field40 { width: 40px; }
.field50 { width: 50px; }
.field60 { width: 60px; }
.field70 { width: 70px; }
.field80 { width: 80px; }
.field100 { width: 100px; }
.field125 { width: 125px; }
.field150 { width: 150px; }
.field175 { width: 175px; }
.field200 { width: 200px; }
.field225 { width: 225px; }
.field250 { width: 250px; }
.field275 { width: 275px; }
.field300 { width: 300px; }
.field350 { width: 350px; }
.field400 { width: 400px; }

/*
block and float
*/
.dnone { display: none; }
.dinline { display: inline; }
.dblock { display: block; }
.dinlineblock { display: inline-block; }
.fleft { float: left; }
.fright { float: right; cursor: pointer;}
.atop { vertical-align: top; }
.amiddle { vertical-align: middle; }
.clear { clear: both; }
.bheight5 { height: 5px; }
.bheight10 { height: 10px; }

.popup {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/*
text align
*/
.tacenter { text-align: center; }

/*
font
*/
.fsize10 { font-size: 10px; }
.fsize12 { font-size: 12px; }
.fsize13 { font-size: 13px; }
.fsize14 { font-size: 14px; }
.fsize15 { font-size: 15px; }
.fsize16 { font-size: 16px; }
.fsize18 { font-size: 18px; }
.fsize20 { font-size: 20px; }
.fsize25 { font-size: 25px; }

.fnormal { font-weight: normal; }
.fbold { font-weight: bold; }
.fbolder { font-weight: 900; }

/*
lines
*/
.lheight5 { line-height: 5px; }
.lheight10 { line-height: 10px; }
.lheight15 { line-height: 15px; }
.lheight20 { line-height: 20px; }
.lheight100 { line-height: 100px; }

/*
bottoni
*/
.annullaButton {
  width: 80px;
  height: 28px;
  background: #2d32aa left top no-repeat;
  border: 1px solid #999;
  color: white;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.confermaButton {
  width: 80px;
  height: 28px;
  background: #2d32aa left top no-repeat;
  border: 1px solid #999;
  color: white;
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.chiudiButton {
  width: 80px;
  height: 28px;
  background: #2d32aa left top no-repeat;
  border: 1px solid #999;
  color: white;
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.navigateIndietroButton {
  width: 80px;
  height: 28px;
  background: #2d32aa left top no-repeat;
  border: 1px solid #999;
  color: white;
  display: block;
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.navigateProseguiButton {
  width: 80px;
  height: 28px;
  background: #2d32aa left top no-repeat;
  border: 1px solid #999;
  color: white;
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.downloadButton {
  width: 200px;
  height: 28px;
  background: #2d32aa left top no-repeat;
  border: 1px solid #999;
  color: white;
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.modificaButton {
  width: 80px;
  height: 28px;
  background: #2d32aa left top no-repeat;
  border: 1px solid #999;
  color: white;
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

/*
modals
*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  width: 400px;
  margin: 30px auto;
  position: relative;
}

.modal-content {
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  outline: 0;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  height: 60px;
  text-align: right;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

button, select {
  text-transform: none;
}

button {
  overflow: visible;
}
